<!DOCTYPE html>
<head>
    <title>Sign in</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="page-header">
        <p class="flipzon-logo-word">Flipzon</p>
    </div>
    <div class="forms-tab-aligner">
        <div class="forms-tab">
            <p class="welcome-font">Welcome</p>
            <form action="/signin" method="post">
                {% csrf_token %}
                <div class="text-box-div">
                    <input class="text-box-design" type="text" id="username" name="username" placeholder="Enter username" required>
                </div>
                <div class="text-box-div">
                    <input class="text-box-design" type="password" id="pass1" name="pass1" placeholder="Enter your password" required>
                </div>
                <div class="button-div">
                    <button class="signup-button" type="submit">Sign in</button>
                    <button class="signup-button" type="submit" onclick="window.location.href='/signup-page'">Sign up</button>
                </div>
            </form>
            <div>
                {% for message in messages %}
                    <div><p>{{ message }}</p></div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>