<!DOCTYPE html>
<html>
    <head>
        <title>Flipzon</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    </head>
    <body>
        <div class="page-header">
            <p class="flipzon-logo-word">Flipzon</p>
        </div>
        <div class="forms-tab-aligner">
            <div class="forms-tab">
                <p class="welcome-font">Welcome</p>
                <form action="/signup" method="post">
                    {% csrf_token %}
                    <div class="text-box-div">
                        <input class="text-box-design" type="text" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="text-box-div">
                        <input class="text-box-design" type="text" id="fname" name="fname" placeholder="First Name" required>
                    </div>
                    <div class="text-box-div">
                        <input class="text-box-design" type="text" id="lname" name="lname" placeholder="Last Name" required>
                    </div>
                    <div class="text-box-div">
                        <input class="text-box-design" type="email" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="text-box-div">
                        <input class="text-box-design" type="password" id="pass1" name="pass1" placeholder="Password" required>
                    </div>
                    <div class="text-box-div">
                        <input class="text-box-design" type="password" id="pass2" name="pass2" placeholder="Confirm Password" required>
                    </div>
                    <div class="button-div">
                        <button class="signup-button" type="submit">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>